<template>
  <div>
    <h2 class='title'>Coffee</h2>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>12oz</th>
          <th>16oz</th>
          <th>20oz</th>
          <th>24oz<br>(cash only)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Breve</td>
          <td>$3.75</td>
          <td>$4.25</td>
          <td>$4.75</td>
          <td></td>
        </tr>
        <tr>
          <td>Americano</td>
          <td>$2</td>
          <td>$2.75</td>
          <td>$3.50</td>
          <td>$4</td>
        </tr>
        <tr>
          <td>Cappuccino</td>
          <td>$3</td>
          <td>$3.75</td>
          <td>$4.25</td>
          <td></td>
        </tr>
        <tr>
          <td>Latte</td>
          <td>$3.25</td>
          <td>$3.75</td>
          <td>$4.25</td>
          <td>$4.75</td>
        </tr>
        <tr>
          <td>Caramel Macchiato</td>
          <td>$4</td>
          <td>$4.75</td>
          <td>$5.25</td>
          <td>$5.75</td>
        </tr>
        <tr>
          <td>Frappe</td>
          <td>$4.25</td>
          <td>$4.75</td>
          <td>$5.25</td>
          <td>$5.75</td>
        </tr>
        <tr>
          <td>Affogato</td>
          <td>$4</td>
          <td>$5</td>
          <td>$6</td>
          <td></td>
        </tr>
        <tr>
          <td>Endless Drip</td>
          <td>$2</td>
          <td>$2</td>
          <td>$2</td>
          <td></td>
        </tr>
        <tr>
          <td>Mocha(reg,mexi,white)</td>
          <td>$4.25</td>
          <td>$4.75</td>
          <td>$5.25</td>
          <td>$5.75</td>
        </tr>

      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "CoffeeList"
}
</script>

<style scoped>
.title {
  display: flex;
  justify-content: center;
  border-bottom: white 1px solid;
}
</style>