<template>
  <div>
    <h2 class='title'>Others</h2>
    <table>
      <thead>
      <tr>
        <th></th>
        <th>12oz</th>
        <th>16oz</th>
        <th>20oz</th>
        <th>24oz<br>(cash only)</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Herbal Tea</td>
        <td>$2</td>
        <td>$2.50</td>
        <td>$3</td>
        <td>$3.50</td>
      </tr>
      <tr>
        <td>Green or Chai Tea</td>
        <td>$4</td>
        <td>$4.50</td>
        <td>$5</td>
        <td>$5.50</td>
      </tr>
      <tr>
        <td>Dirty Chai Tea</td>
        <td>$4.50</td>
        <td>$5</td>
        <td>$5.50</td>
        <td></td>
      </tr>
      <tr>
        <td>Steamer</td>
        <td>$2.50</td>
        <td>$3</td>
        <td>$3.50</td>
        <td></td>
      </tr>
      <tr>
        <td>Hot Chocolate</td>
        <td>$2.50</td>
        <td>$3</td>
        <td>$3.50</td>
        <td></td>
      </tr>
      <tr>
        <td>Italian Soda</td>
        <td>$2.75</td>
        <td>$3.25</td>
        <td>$3.75</td>
        <td>$4.25</td>
      </tr>
      <tr>
        <td>Italian Cream Soda</td>
        <td>+.50</td>
        <td>+.50</td>
        <td>+.50</td>
        <td>+.50</td>
      </tr>
      <tr>
        <td>London Fog</td>
        <td>$4</td>
        <td>$4.50</td>
        <td>$5</td>
        <td>$5.50</td>
      </tr>
      <tr>
        <td>Tiki Breeze Energy</td>
        <td>$4.25</td>
        <td>$4.75</td>
        <td>$5.25</td>
        <td>$5.75</td>
      </tr>

      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: 'OthersList'
}
</script>

<style scoped>
.title {
  display: flex;
  justify-content: center;
  border-bottom: white 1px solid;
}

</style>