<template>
  <div class='twig-images'>
    <img src='src/assets/twigBerriesLeft.png' alt='left twig' class='left-twig' />
    <img src='src/assets/twigBerriesRight.png' alt='right twig' class='right-twig' />
  </div>
  <h1 class='title'>THE METROPOLE CAFE</h1>
  <div class='center-images'>
    <img src="src/assets/teacup.png" alt="teacup" class='teacup'/>
    <img src="src/assets/ribbon.png" alt="ribbon" class='ribbon'/>
    <img src='src/assets/metropole.png' alt='logo' class='logo' />
  </div>
  <div class='details'>
    <h1 class='phone-number'>(208) 414-1422</h1>
    <h1 class='address'>339 STATE ST</h1>
  </div>
</template>

<script>
export default {
  name: "Header"
}
</script>

<style scoped>
.center-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left-twig {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: auto;
  order: 1;
}
.right-twig {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: auto;
  order: 2;
}
.teacup {
  position: absolute;
  top: 95px;
  width: 450px;
  z-index: 2;
}
.ribbon {
  position: absolute;
  width: 1250px;
  height: 215px;
  top: 300px;
  z-index: 1;
}
.title {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 394px;
  left: 10px;
  font-size: 45px;
  z-index: 2;
  color: white;
  font-family: "Indie Flower", serif;
}
.logo {
  position: relative;
  width: 150px;
  height: 125px;
  z-index: 2;
  top: 110px;
  left: -4px;
}
.details {
  position: relative;
}
.phone-number {
  position: absolute;
  top: 250px;
  left: 0;
}
.address {
  position: absolute;
  top: 250px;
  right: 0;
}
@media (max-width: 1023px) {
  .left-twig {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 50%;
    height: auto;
    order: 1;
  }
  .right-twig {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 50%;
    height: auto;
    order: 2;
  }
  .teacup {
    position: absolute;
    top: 95px;
    max-width: 50%;
    z-index: 2;
  }
  .ribbon {
    position: absolute;
    max-width: 75%;
    height: 215px;
    top: 300px;
    z-index: 1;
  }
  .title {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 394px;
    left: 10px;
    font-size: 45px;
    z-index: 2;
    color: white;
    font-family: "Indie Flower", serif;
  }
  .logo {
    position: relative;
    max-width: 50%;
    height: auto;
    z-index: 2;
    top: 110px;
    left: -4px;
  }
}
</style>