<script>

import {defineComponent} from "vue";
import TopOfMenu from "@/components/TopOfMenu.vue";
import CoffeeList from "@/components/CoffeeList.vue";
import OthersList from '@/components/OthersList.vue'

export default defineComponent({
  components: { OthersList, CoffeeList, TopOfMenu}
})
</script>

<template>
  <div class='app-container'>
    <header class='app-header'>
      <TopOfMenu />
    </header>

    <main class='app-main'>
      <div class='menu-style'>
        <div class='tables-style'>
          <section class='list-style'>
            <CoffeeList />
            <div class='spacer'>
              <img src='src/assets/metropole.png' alt='logo' class='logo' />
            </div>
            <OthersList />
          </section>
          <section class='extras'>
            <h3>*Alternative Milks +$0.75</h3>
            <h3>Blended Drinks +$1.00</h3>
            <h3>Flavor Syrups $0.50</h3>
          </section>
        </div>

        <div class='menu-bottom-style'>
          <hr>
          <section class='milks'>
            <h3>MILKS</h3>
          </section>
        </div>
      </div>
    </main>
    <footer>
      footer
    </footer>
  </div>
</template>

<style scoped>
.app-container {
  display: contents;
  width: 1000px;
}
.app-header {
  align-items: center;
}
.app-main {
  margin-top: 350px;
}
.menu-style {
  margin: 0;
  padding: 0;
  /*justify-content: space-around;*/
}
.tables-style {
  margin: 0 auto;
  height: auto;
  flex-direction: column;
  align-items: center;
}
.list-style {
  display: flex;
  border: white 1px solid;
}
.spacer {
  width: 100px;
  border-right: white 1px solid;
  border-left: white 1px solid;
  align-items: center;
  display: flex;
  justify-content: center;
}
.spacer img {
  display: inline-block;
  width: 120px;
  height: 100px;
  margin: auto;
}
.extras {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.menu-bottom-style {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-bottom-style hr {
  width: 90%;
  margin-bottom: 20px;
}
.menu-bottom-style section {
  margin-bottom: 20px;
}
.milks {
  width: 100%;
}

</style>
